@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.FloatingUI/Components/FloatingUI/FloatingUI.razor.js")]

<div @attributes="@AdditionalAttributes" class="@ClassString" id="@Id" aria-describedby="@FloatingElementId">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
    @if (IsRendered)
    {
        @RenderFloatingElement()
    }
</div>
